
$primary-color: #E7772D;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.nav-container {
   width: 100%;
   height: 56px;
   padding: 0 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: antiquewhite;
   position: sticky;
   top: 0;
   z-index: 1;
  .logo{
    // width: 10%;
    // height: 90%;
    img{
      width: 100%;
      height: auto;
    }
  }
  .nav {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}

.main-container {
  width: 100%;
  margin: 50px 0;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4rem;
  justify-content: center;
  align-items: center;
  .items{
    width: 300px;
    height: 200px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    gap: 10px
  }
   
}

.popup-section {
  background-color: gray;
  padding: 1rem;
  
  .popup {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #E7772D;
    position: relative;
    border-radius: 1rem;

    .pp-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      #close-icon {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2rem;
        height: 2rem;
      }

      .image {
        width: 11rem;
        height: 10rem;
        background-color: red;
      }

      .pp-meal-name {
        font-size: 2rem;
        padding: 1rem;
      }

      .pp-meal-details {
        width: 100%;
        display: flex;
        flex-direction: column;

        .pp-meal-detail {
          padding: 1rem 0;
          font-size: 1.3rem;
        }
      }
    }

    .pp-body {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
      
      .pp-comments-title {
        align-self: center;
        padding: 1rem;
        font-size: 1.5rem;
      }
    }

    .pp-footer {
      display: flex;
      flex-direction: column;

      .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .pp-form-title {
          font-size: 1.5rem;
          align-self: center;
        }
      }
    }
  }
}